---
import Layout from "../layouts/Layout.astro";
import ContMain from "../components/Contenido-Principal/ContMain.astro";
import Navb from "../components/Contenido-Header/Navb.astro";

import ContEstu from "../components/Contenido-Principal/ContEstu.astro";
---

<Layout title="Welcome to Astro.">
  <header>
    <Navb />
  </header>
  <main>
    <ContMain />
    <ContEstu id="est" />
  </main>
  <footer></footer>
</Layout>
<style></style>
