---
---

<nav>
  <ul>
    <div class="cont-iz">
      <li><a href="/">mi</a></li>
      <li><a href="/">proyectos</a></li>
      <li><a href="#est">estudios</a></li>
      <li><a href="/">contactame</a></li>
    </div>
    <div class="cont-der">
      <img src="" alt="img-cambiar-tema" />
    </div>
  </ul>
</nav>
<style>
  .cont-iz {
    display: flex;
  }
  .cont-der {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  ul {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    padding: 0px 25px 0px 0px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  li {
    margin: 0 1em;
  }
  a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: flex;
    padding: 0.7em;
  }
  a:hover {
    color: #fa0014;
    transform: scale(1.2);
    padding: 0.7em;
    transition: all 0.3s ease-in-out;
  }
</style>
